.navbar-default{
	background-color:#800080;
	border-color:#800080;
}
.navbar-default .navbar-nav > li > a{
	color:#FFF;
	font-size:15px;
}

.navbar-default .navbar-brand{
	font-size:24px;
	color:#FFF;
	font-weight:bold;
	border-right:solid 2px #FFF;
}

h1{
	color:#800080;
}
h2{
	color:#366A0B;
}

.lnk{
	color:#488F0E;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background-color: #66CC14;
    border-color: #66CC14;
}
.pagination > li > a, .pagination > li > span{
	color: #66CC14;
}